.got-a-question-container {
	position: relative;
	background-color: #041638;
	height: 27rem;
	margin-top: 5.9rem;
}

@media (max-width: 768px) {
	.got-a-question-container {
		max-width: 100%;
		margin-top: 0rem;
		max-height: 0rem;
		/* display: none; */
	}
	.got-a-question-article {
		min-height: 38rem;
		padding-top: 5rem;
	}

	.got-a-question-container .got-a-question {
		margin-top: 3rem;
	}
	.another-effect {
		position: absolute;
		margin-top: 25rem;
	}

	.got-a-question-container .overlay {
		position: absolute;
	}
}
.got-a-question-container .got-a-question {
	padding-bottom: 4rem;
}
.got-a-question-container .effect-container {
	position: relative;
}
.another-effect {
	position: absolute;
	top: 25%;
	right: 7%;
	width: 19rem;
	height: 14.5rem;
	background-image: linear-gradient(
		to bottom,
		rgba(153, 89, 11, 0.8) 0%,
		rgba(153, 89, 11, 0.8) 50%,
		rgba(5, 25, 61, 0.6) 70%,
		rgba(5, 1, 61, 1) 100%
	);
	/* z-index: 999; */
}

@media (max-width: 768px) {
	.another-effect {
		height: 11.5rem;
		top: 140%;
		right: 13%;
		margin-bottom: 2rem;
	}
}

.got-a-question-container .overlay {
	position: absolute;
	top: 12%;
	right: 5%;
	height: 70%;
	width: 30%;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	z-index: 99;
	background-color: rgba(16, 5, 55, 0.5);
	display: flex;
	align-items: center;
}
.got-a-question-article h4 {
	font-weight: lighter;
	letter-spacing: 3px;
	line-height: 2.2rem;
	font-size: 1.1rem;
}
.how-it-works {
	width: 60rem;
}

@media (max-width: 768px) {
	.how-it-works {
		max-width: 310px;
	}
}
.got-a-question-article {
	position: absolute;
	top: 20%;
	left: 0;
	width: 100%;
	max-height: 30rem;

	padding-left: 7rem;
	padding-right: 32rem;
	background-color: none;
	margin-top: 3rem;
}

@media (max-width: 768px) {
	.got-a-question-article {
		top: 88%;
		padding-top: 2rem;
		padding-left: 2rem;
		padding-right: 0;
		max-width: 100%;
		background-color: rgba(16, 5, 55, 1);
	}
}
.got-a-question-article h1 {
	font-weight: 600;
	letter-spacing: 3px;
	line-height: 2.2rem;
	font-size: 2.5rem;
	margin-bottom: 1rem;
}
.got-a-question .got-a-question-article h4 {
	font-weight: lighter;
	letter-spacing: 3px;
	line-height: 2.2rem;
	font-size: 1.2rem;
}
.got-a-question-article a {
	text-decoration: none;
	display: flex;
	align-items: center;
	width: 10rem;
	margin-top: 1rem;
}
.got-a-question-article a .text {
	font-weight: bold;
	font-size: 1.2rem;
}
.got-a-question-article a .back-to-home-icon {
	width: 2.5rem;
	margin-left: 0.7rem;
	transform: translateY(10%);
}
