.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
	grid-gap: 2rem;
	row-gap: 4rem;
	padding: 0 6rem;
	/* text-align: center; */
}

@media (max-width: 768px) {
	.grid-container {
		padding: 0;
	}
	.grid-container {
		display: block;
		max-width: 100%;
		margin-left: 0%;
		padding: 2rem 0rem;
	}
}
