.about-us {
	width: 100%;
	min-height: 100vh;
	display: flex;
	color: white;
}
.about-us .left {
	position: relative;
	width: 60%;
	height: 48rem;
	border: none;
	display: flex;
	justify-content: flex-end;
	padding-top: 7rem;
	padding-right: 7rem;
	/* background-color: #4a249c; */
	background-color: rgba(35, 15, 59, 0.9);
	/* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
}
.about-us .left .about-us-efffect-1 {
	width: 24rem;
	height: 31.5rem;
	background: linear-gradient(
		to bottom,
		rgba(203, 96, 179, 1) 0%,
		rgba(66, 40, 99, 1) 84%,
		rgba(35, 15, 59, 1) 100%
	);
}
.about-us .left .about-us-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	border: 0.1rem solid #230f3b;
}
.about-us .right {
	width: 40%;
	height: 48rem;
	/* border: none; */
	display: flex;
	justify-content: flex-end;
	padding-top: 7rem;
	padding-right: 7rem;
	background-color: #230f3b;
}

@media (max-width: 768px) {
	.about-us {
		display: block;
	}
	.about-us .right {
		display: none;
	}
	.about-us .left {
		width: 100%;
	}
	.about-us .title {
		transform: translateY(-600%);
	}
	.about-us .heading {
		position: absolute;
		top: 38%;
		padding: 0 0rem;
		padding: 0 4rem;

		transform: translateX(-40%);
		font-size: 3.9rem;
		/* max-width: 40rem; */
	}
	.about-us .description {
		display: none;
	}
}
.about-us .right .about-us-efffect-2 {
	position: absolute;
	top: 18.7rem;
	right: 0;
	width: 12rem;
	height: 12.3rem;
	border-radius: 50%;
	background-image: linear-gradient(
		to bottom,
		rgba(15, 3, 102, 1) 0%,
		rgba(16, 6, 110, 1) 6%,
		rgba(14, 4, 48, 1) 100%
	);
	border: none;
}

.about-us .title {
	position: absolute;
	top: 51%;
	left: 38%;
	text-transform: uppercase;
	font-size: 1.2rem;
}
.about-us .title::before {
	content: "";
	position: absolute;
	top: 57%;
	right: 110%;
	background-color: white;
	height: 2px;
	width: 5rem;
}

.about-us .heading {
	position: absolute;
	top: 58%;
	left: 37%;
	padding: 0 4rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	letter-spacing: 5px;

	font-size: 4.2rem;
	/* max-width: 40rem; */
}
.about-us .description {
	position: absolute;
	top: 97%;
	right: 5%;
	font-size: 1.1rem;
	padding: 1rem;
	line-height: 35px;
	letter-spacing: 2px;
	max-width: 30rem;
}
