.form-body {
	margin-top: 3rem;
	background-color: green;
}

.names-form {
	overflow-y: hidden;
	height: 100%;
}
.contact-form {
	position: absolute;
	background: none;
	top: 98%;
	left: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-content: center;
	align-items: center;
	width: 60%;
	color: gainsboro;
	transition: all 2s linear;
	margin-top: -0rem;
	/* padding: 1rem 5rem; */
}

@media (max-width: 768px) {
	.form-body {
		margin-top: 5rem;
	}
	.contact-form {
		display: flex;
		flex-wrap: wrap;
	}

	.mobile-width {
		min-width: 100%;
	}

	.first-name {
		margin-bottom: 2rem;
	}
	.email {
		margin-top: -10%;
		min-width: 100%;
	}
	.email .subscribe {
		max-width: 30%;
	}
	.email .subscribe h3 {
		font-size: 0.7rem;
	}
	.email input {
		padding-left: 0.8rem;
	}
}

.center {
	transform: translate(-50%, -50%);
}

/* MDAIA QUERY FOR DESKTOP */
@media (min-width: 768px) {
	.names-form {
		width: 100%;
	}

	.first-name {
		padding-right: 5rem;
	}

	.last-name {
	}
}

/* MEDIA QUERY FOR DESKTOP */
.first-name {
	margin-right: 0;
	width: 50%;
}

.last-name {
	margin-left: 0;
	width: 50%;
}

.contact-form .first-name .input-field,
.contact-form .last-name .input-field {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #b064a1;
	padding-bottom: 0.7rem;
}
.contact-form .first-name input:focus,
.contact-form .last-name .input-field:focus {
	outline: none;
	color: gainsboro;
}

.email {
	transform: translateY(100%);
	width: 100%;
}
.email input {
	width: 100%;
	height: 4rem;
	border-radius: 4rem;
	padding-left: 2rem;
}

.subscribe {
	position: absolute;
	top: 0%;
	right: 0%;
	border-radius: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 12rem;
	height: 100%;
	background-color: #29539b;
	background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
	cursor: pointer;
}

.form-body .email .center {
	position: absolute;
	top: 108%;
}

/* FOR PAGE EFFECT */
.names-form {
	/* background-color: red; */
}
.vanish {
	-webkit-animation: vanish 2s linear;
	animation: vanish 2s linear;
	height: 0;
	transition: all 1s linear;
}

.translate-up {
	margin-top: -8.5rem;
	transition: all 1s linear;
}

@-webkit-keyframes vanish {
	0% {
		opacity: 100%;
		transition: all 1s linear;
	}

	100% {
		opacity: 0%;
		transition: all 1s linear;
	}
}
